<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xunmeng.llmgate.mapper.ApiKeyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xunmeng.llmgate.pojo.ApiKey">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="user_name" property="userName" />
        <result column="key" property="key" />
        <result column="status" property="status" />
        <result column="expires_time" property="expiresTime" />
        <result column="quota" property="quota" />
        <result column="unlimited" property="unlimited" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, `name`, user_name, `key`, status, expires_time, quota, unlimited, remark, create_time, update_time
    </sql>


    <select id="selectByConditions" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" /> FROM g_api_key
        <where>
            <if test="name != null and name != ''">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="userId != null and userId != ''">
                AND user_name LIKE CONCAT('%', #{userId}, '%')
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

    <select id="selectInSelfByConditions" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" /> FROM g_api_key
        <where>
            user_name = #{userId}
            <if test="name != null and name != ''">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="userId != null and userId != ''">

            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>
</mapper>
